body{
    background-color: white;
}
.title{
    text-align: center;
    font-size: 100px;
}
.wraper{
    margin: 0 auto;
    width: 100%;
}
.columns{
    float: left;
    overflow: hidden;
    display: block;
    width: 25%;
    /*border: 1px solid black;*/
    padding:10px;
    box-sizing: border-box;
}
.aside{
    border: 1px solid black;
}

img {
    display: block;
    width: 100%;
}

.sideColumsHidden .columns:nth-child(2){
    display: none;
}
.sideColumsHidden .columns:nth-child(5){
    display: none;
}
.sideColumsHidden .columns:nth-child(3){
    width: 30%;
}
.sideColumsHidden .columns:nth-child(4){
    width: 70%;
}



.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf {
    *zoom: 1;
}
