a.link#link-id{
    display: block !important;
}
    /*3те начина за селектиране*/

/*select na nested elementi*/
.link span.link-subtext{

}

.link > .link-subtext{

}
/*znaka > ozna4va : selektira element s klas link i vzima vsi4ki negovi purvi deca */



.link  .test + .test{

 /*za selectirane na elementi sled daden element s edin i syshti klas;
 izbira element s klas link klas test i selektira sledvashtiq element sled klas test s klas test (sibliks)
 */
}
.link  .link-subtext ~ span{
    /*vsi4ko sled link-subtext , tursi element s klas link i v nego ima child v koito ima link-subtext
    izbira vsi4ko masovo ot daden elemtn natatuk*/
}
.test:nth-child(2){
    /*tyrsi vtori span elementa v roditelq NE vtoriq s klas test*/
}
.test:nth-child(odd){

}
.test:nth-child(even){

}
.test:nth-child(2n+1){
    /*za vseki ne4eten*/
}
.test:nth-child(2n){
    /*za 4eten element*/
}
.test:nth-last-child(2){
    /*broi otzad napred*/
}

/*целта на  +,~, > пести писане на множество класове и псевдо селектори*/
 /*BOX MODEL: na blokov element*/

.basic-box{
    width: 200px;
    height: 200px;
    margin: 8px;
    border:1px solid black;
    background-color: grey;
    padding:20px;
    margin:30px;
    overflow: hidden;
    box-sizing:borderbox;
}
/*tipove : razli4avat se po sudurjanie na properties
    suvkuponost ot standartni css properties na daden element,
     trugvame ot vutre navun: width, height, padding, border, margin
     dopulnitelno : overflow, z-index ... box-sizing (v CSS3- za responsive (pravqt se v %)*/

/*! pri izpolzvane na float iamme margin -collapse*/

/*inline elementite nqmat height, padding:top i bottom,*/

/*borderbox avtomati4no orazmerqva nezavisimo ot zadadenite width i height,
vkarva padding-a direktno v width-a ; 4ertae se kato tablica*/

/*table v html:ima si sobstven box-ov model , nqma margin, */

/*za responsive design zaduljitelno se izpolzvat % i s grid standarti 12,16,24*/

/*otrizatelen margin(kogato iskame da durpame elementi na nqkude) i z-index(sloi)*/

/*patterns: tipove width*/

/*
vw -merna edinica sprqmo viewporta -
*/
