/*Fonts*/
@font-face {
    font-family: 'latobold';
    src: url('fonts/Lato-Bold-webfont.eot');
    src: url('fonts/Lato-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/Lato-Bold-webfont.woff2') format('woff2'),
         url('fonts/Lato-Bold-webfont.woff') format('woff'),
         url('fonts/Lato-Bold-webfont.ttf') format('truetype'),
         url('fonts/Lato-Bold-webfont.svg#latobold') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'latoregular';
    src: url('fonts/Lato-Regular-webfont.eot');
    src: url('fonts/Lato-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/Lato-Regular-webfont.woff2') format('woff2'),
         url('fonts/Lato-Regular-webfont.woff') format('woff'),
         url('fonts/Lato-Regular-webfont.ttf') format('truetype'),
         url('fonts/Lato-Regular-webfont.svg#latoregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'latolight';
    src: url('fonts/Lato-Light-webfont.eot');
    src: url('fonts/Lato-Light-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/Lato-Light-webfont.woff2') format('woff2'),
         url('fonts/Lato-Light-webfont.woff') format('woff'),
         url('fonts/Lato-Light-webfont.ttf') format('truetype'),
         url('fonts/Lato-Light-webfont.svg#latolight') format('svg');
    font-weight: normal;
    font-style: normal;

}
/**/

/*CLear fix class*/
.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf {
    *zoom: 1;
}
/**/


/*----------Header-----------*/
#header{
    background: url('../images/headerbg.png') 0px 0px / contain no-repeat;
    height: 55vw;
    background-size: 100%;
}
.logo{
    width:100%;
    height: 78px;
    top: 10vw;
    left: 47%;
}
.logo-pic{
    width: 8vw;
}
.maintitle{
    font-size: 3vw;
    color: white;
    text-transform: uppercase;
    letter-spacing: 1vw;
    text-align: center;
    left: 30%;
    top: 17vw;
}
.undertitle{
    font-size: 1vw;
    color: white;
    text-transform: uppercase;
    line-height: 1.5vw;
    text-align: center;
    left: 32%;
    top: 30vw;
}
.spanbutton{
    background: url('../images/logobutton.png') no-repeat 10px 10px;
    background-size: 2.4vw;
    width: 50px;
    height: 50px;
    top: 40vw;
    left: 48%;
}
.head-positioning{
    position: absolute;
}
/*----------/Header-----------*/

/*----------About-Section-----------*/
.about{
    width: 100%;
    padding: 10% 0;
}
.bordered{
    margin:0 auto;
    width: 45%;
    border-width: 0px 2px 2px 2px;
    border-style:solid;
    border-color: #3c3c3c;
    position: relative;
    padding: 2vw 6vw;
}
.bordered:before{
    content: '';
    height: 2px;
    width: 16vw;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #3c3c3c;
}
.bordered:after{
    content: '';
    height: 2px;
    width: 16vw;
    position: absolute;
    top: 0;
    right: 0;
    background-color: #3c3c3c;
}
.title{
    font-family: 'latobold';
    color: #3c3c3c;
    letter-spacing: 0.3vw;
    font-size: 2.5vw;
    padding: 0vw 4.4vw;
    position: absolute;
    top: -3.3vw;
    left: 17vw;
    text-transform: uppercase;
}
.description{
    font-family: 'latolight';
    font-size: 1.15vw;
    text-align: center;
    line-height: 1.5vw;
}
.description:last-child{
    width: 60%;
    padding: 0 20%;
}
/*----------/About-Section-----------*/

/*----------Services-Section-----------*/
.services{
    background: url('../images/services.png') 0px 0px / contain no-repeat;
    height: 19vw;
    background-size: 100%;
    padding: 3% 0;
}

/*----------/Services-Section-----------*/

/*----------What-we-do-Section-----------*/
.what-we-do{
    width: 100%;
    padding: 10% 0;
}
.specifics{
    left: 14vw;
}
.opitions{
    margin-top: 7vw;
}
.artic-pic{
    width: 103px;
    height: 103px;
    position: relative;
    left: 18vw;
}
.design{
    background: url('../images/design.png') no-repeat -3px 0px;
    background-size: 8vw;
}
.development{
    background: url('../images/development.png') no-repeat 0px 0px;
    background-size: 8vw;
}
.management{
    background: url('../images/management.png') no-repeat 0px 0px;
    background-size: 8vw;
}
.artic-title{
    font-family: 'latobold';
    color: #3c3c3c;
    letter-spacing: 0.3vw;
    font-size: 1.5vw;
    text-transform: uppercase;
    text-align: center;
}
.artic-text{
    font-family: 'latolight';
    font-size: 1vw;
    text-align: center;
    line-height: 1.5vw;
}

/*----------/What-we-do-Section-----------*/

/*----------Links-Section-----------*/
.links:nth-child(1),
.links:nth-child(4){
    margin-left: 0;
}
.links:nth-child(3),
.links:nth-child(6){
    margin-right: 0;
}
.links{
    position: relative;
    padding-bottom: 11.25%;
    height: 0;
    overflow: hidden;
    float: left;
    overflow: hidden;
    margin: 0.25%;
    position: relative;
}
.subcontainer{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.positioning{
    float: left;
    overflow: hidden;
     margin: 0 0.5% 0.5% 0;
    position: relative;

    padding-bottom: 11.25%;
    height: 0;
}

.positioning:nth-child(3),
.positioning:nth-child(6)
{
    margin-right: 0;
}

.links-title{
    font-family: 'latobold';
    font-size: 2vw;
    color: white;
    position: absolute;
    left: 25px;
    bottom: 13px;
    letter-spacing: 5px;
    text-transform: uppercase;
}

.topworkz{
    width: 30%;
    background: url('../images/TopWorkz.png')0px 0px / contain no-repeat;
    background-size: 100%;
}
.joint{
    width: 39%;
    background: url('../images/joint.png')0px 0px / contain no-repeat;
    background-size: 100%;
}
.market{
    width: 30%;
    background: url('../images/market.png')0px 0px / contain no-repeat;
    background-size: 100%;
}
.worktop{
    width: 30%;
    background: url('../images/worktop.png') 0px 0px / contain no-repeat;
    background-size: 100%;
}
.lable{
    width: 39%;
    background: url('../images/lable.png') 0px 0px / contain no-repeat;
    background-size: 100%;
}
.kuiv{
    width: 30%;
    background: url('../images/kyiv.png') 0px 0px / contain no-repeat;
    background-size: 100%;
}
/**/
/*@media screen and (max-width: 640px) {
    .links {
        width: 100%;
        float: none;
        height: 100px;
    }
}*/
/*----------/Links-Section-----------*/

/*----------Contact-us-Section-----------*/
.contact-us{
    width: 100%;
    padding: 10% 0;
}
.contact-button{
    font-family: 'latoregular';
    font-size: 1vw;
    color: white;
    background-color: #3c3c3c;
    padding: 1vw 3vw;
    position: relative;
    left: 16vw;
}
/*----------/Contact-us-Section-----------*/

/*----------Footer-----------*/
#footer{
    height: 3vw;
    position: relative;
}
.copyright{
    font-family: 'latoregular';
    font-size: 1vw;
    text-align: center;
}
.copyright:before{
    content: '';
    position: absolute;
    background: url('../images/footerlogo.png') no-repeat 0px 0px;
    background-size: 3vw;
    width: 45px;
    height: 45px;
    left: 35vw;
    top: -1vw;
}
/*----------/Footer-----------*/
